<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@800&display=swap" rel="stylesheet">
<style>
html {
 height:700px;
 }
body  {
  background: linear-gradient(to right, #660066 0%, #ff99cc 100%);
  background-repeat:no-repeat;
  background-color: #cccccc;
}

h1 {
  color:white;
  font-family: 'Baloo Bhai 2', cursive;
  margin: 250px 100px 100px 250px;
  width: 60%;
  border: 3px solid #ffffff;
  padding: 10px;
  border-radius:10px;
}
</style>
</head>
<body>

<h1>As per provided info you want to travel from {{fans[1]}} to {{fans[2]}} with {{fans[0]}} people.</h1>

</body>
</html>